/*ESTILOS MAIN*/
.contenedorProductos{    
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 50px;
}
/*Estilo para las cards de productos*/
.tarjeta{
    margin: 5px;
}
/*Estilo para el main*/
#contenedorMain{
    padding: 50px;
}

/*ESTILOS FOOTER*/
.lista{
    list-style: none;    
}

.linkStyle{
    text-decoration: none;
    color: black;
}

.piePagina{    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}